body {
  background-color: #4A423A;
  font-family: Verdana, Arial, sans-serif;
}

nav {
  float: left;
  width: 200px;
  font-weight: bold;
  letter-spacing: 0.1em;
}

nav a {
  display: block;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
}

nav a.active {
  background-color: #00F0FF;
  color: white;
}

nav a:hover:not(.active) {
  background-color: #063DDC;
  color: white;
}

.button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 13px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #2DD711;
  border: none;
  border-radius: 15px;
  box-shadow: 0 6px #999;
}

.button:hover {
  background-color: #23A70D;
}

.button:active {
  background-color: #23A70D;
  box-shadow: 0 3px #666;
  transform: translateY(4px);
}

.button-primary {
  display: inline-block;
  padding: 10px 20px;
  font-size: 13px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #bb11d7;
  border: none;
  border-radius: 15px;
  box-shadow: 0 6px #999;
}

.button-primary:hover {
  background-color: #910da7;
}

.button-primary:active {
  background-color: #910da7;
  box-shadow: 0 3px #666;
  transform: translateY(4px);
}

.button-save {
  display: inline-block;
  padding: 10px 20px;
  font-size: 13px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #0dc88b;
  border: none;
  border-radius: 15px;
  box-shadow: 0 6px #999;
}

.button-save:hover {
  background-color: #098c62;
}

.button-save:active {
  background-color: #098c62;
  box-shadow: 0 3px #666;
  transform: translateY(4px);
}

.button-cancel {
  display: inline-block;
  padding: 10px 20px;
  font-size: 13px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #C80D4A;
  border: none;
  border-radius: 15px;
  box-shadow: 0 6px #999;
}

.button-cancel:hover {
  background-color: #8c0933;
}

.button-cancel:active {
  background-color: #8c0933;
  box-shadow: 0 3px #666;
  transform: translateY(4px);
}

.commentText {
  font-size: 105%;
  font-weight: 300;
}

header {
  text-align: center;
  padding-top: 8px;
  padding-bottom: 4px;
  background-color: black;
  background-repeat: no-repeat;
  position: relative;
}

main {
  background-color: #F7DFC4;
  color: #000000;
  padding: 10px 20px;
  overflow: auto;
  display: block;
}

footer {
  font-size: 70%;
  text-align: center;
  padding: 10px;
  background-color: #F7DFC4;
  clear: both;
}

#wrapper {
  margin: 0 auto;
  width: 73%;
  min-width: 750px;
  background-color: #FFC30B;
  color: #000066;
}

a {
  text-decoration: none;
}

main a {
  color: #3C2C05;
}

/*
#F7DFC4
#063DDC
#00F0FF
#FFC30B
#33EF13
#E92402
#C28E0E
#98700D
#4A423A
#3C2C05
*/
